/*
	Estilo básico del RMF

	autor: Robert Sallent
	última revisión: 06/11/2016
*/



/* ------------------------------------------------------------------------------------
RESET DE ESTILO Y REGLAS GENERALES 
------------------------------------------------------------------------------------ */
*{
	margin: 0px;
	padding: 0px;
}

.izquierda{
	float: left;
}

.derecha{
	float: right;
}

.clear{
	clear: both;
}
.mini{
	font-size: 0.8em;
}
.maxi{
	font-size: 1.2em;
}

h1, h3{
	margin: 10px 0px 10px 0px;
}

p{
	margin-bottom: 10px;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

img.logo{
	height: 30px;
	width: 30px;
	vertical-align: middle;
}

/* ------------------------------------------------------------------------------------
INICIO DE LOS ESTILOS PARA CADA UNO DE LOS ELEMENTOS 
------------------------------------------------------------------------------------ */

html{
	background-color: #eef;
}

body{
	background-color: #fff;
	font-family: arial, verdana;
	width: 80%;
	padding: 2%;
	margin: 10px auto 10px auto;
	box-shadow: 0px 0px 4px rgba(60,60,60,0.6);	
}


/* HEADER */
header{
	padding: 5px;
	background-color: #babdb6;
	color: white;
	text-shadow: 1px 1px 3px #99a;
}

header{
	display: flex;
}

header h1{
	font-size: 3em;	
}

header figure{
	flex: 1;	
}

header figure img{
	width: 70%;
	border-radius: 49px 49px 49px 49px;
	border: 7px solid #d1cad1;	
}

header hgroup{
	flex: 5;
}


/* ZONAS DE LOGIN Y LOGOUT */

#login, #logout{
	text-align: right;
	padding: 5px 0px 5px 0px;
}

#login input{
	width: 85px;
}

#logout img{
	display: inline-block;	
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

#logout form{
	display: inline-block;
}

#login a, #logout a{
	color: #aaf;	
	font-weight: bold;
}


/* BARRA DE NAVEGACION */

nav{
	background-color: #babdb6;
	color: white;
	display: flex;
	border: solid 2px #aaf;
}

nav ul{
	flex: 1;
}

nav ul:first-of-type{
	text-align: left;
}

nav ul:nth-of-type(2){
	text-align: right;
}

nav ul.menu>li{
	position: relative;
	display: inline-block;
	list-style-type: none;
	padding: 8px;	
	transition: 0.5s;
}
nav ul.menu>li:hover{
	color: #aaf;
	background-color: white;
	color: black;	
}

.menu>li:hover .submenu{
	visibility: initial;
}

/* SUBMENU */

nav ul.submenu{
	position: absolute;
	left: 0px;
	top: 35px;
	visibility: hidden;
	background-color: #babdb6;	
}

nav ul.submenu>li{
	transition: .5s;
	display: block;
    list-style-type: none;       
    padding: 5px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}


nav ul.submenu>li:hover{
	color:white;
	background-color: white;
	color:black;
}


/* AREA PARA EL CONTENIDO */

#content{
	padding: 20px 0px 20px 0px;
}

#content p{
	text-align: justify;
}

#content h2{
	margin: 10px 0px 10px 100px;
}


#content table{
	margin: auto;
	width: 80%;
}

#content table th{
	color: black;
	background-color: grey;	
	text-align: center;
	font-weight: bold;
	font-size: small;
}
#content table td, #content table th{
	padding: 1px;
	font-size: small;	
	text-align: center;
}
#content table tr:nth-of-type(even){
	background-color: #eef;
}

#content form input{
	margin-top: 5px;
	padding: 4px;
}
#content form label{
	display: inline-block;
	min-width: 140px;
	margin-left: 105px;
}

#content form img.imagenactual{
	width: 100px;
	height: 110px;
	margin: 10px;
	float: right;
}

.foto_listado{
	 max-width: 50px;
	 max-height: 50px;
	 
}

table img.boton{
	height: 40px;
	width: 40px;	
}



table #list{
	width:80%;
}

.boton{
	height: 40px;
	width: 40px;	
	cursor: pointer;
}

/*BUTTONS*/

.botonguardar{
	background-image:url(../images/buttons/guardar.png);
	background-repeat:no-repeat;
	background-size: 80px 80px;
  	height:80px;
  	width:80px;
  	border:none;
  	background-position:center;  	
  	cursor: pointer; 
  	color: transparent; 	
}

.botonmodificar{
	background-image:url(../images/buttons/editar.png);
	background-repeat:no-repeat;
	background-size: 80px 80px;
  	height:80px;
  	width:80px;
  	border:none;
  	background-position:center;  	
  	cursor: pointer; 
  	color: transparent; 	
}


.botonbaja{
	background-image:url(../images/buttons/borrar.png);
	background-repeat:no-repeat;
	background-size: 80px 80px;
  	height:80px;
  	width:80px;
  	border:none;
  	background-position:center;  	
  	cursor: pointer; 
  	color: transparent; 	
}
.botonbuscar{
	background-image:url(../images/buttons/buscar.png);
	background-repeat:no-repeat;
	background-size: 80px 80px;
  	height:45px;
  	width:45px;
  	border:none;
  	background-position:center;  	
  	cursor: pointer; 
  	color: transparent; 	
}

.botonconfirmar{
	background-image:url(../images/buttons/confirmar.png);
	background-repeat:no-repeat;
	background-size: 50px 50px;
  	height:80px;
  	width:80px;
  	border:none;
  	background-position:center;  	
  	cursor: pointer; 
  	color: transparent; 	
  	background-color:white;
}

.botonimprimir{
	background-image:url(../images/buttons/imprimir.png);
	background-repeat:no-repeat;
	background-size: 50px 50px;
  	height:80px;
  	width:80px;
  	border:none;
  	background-position:center;  	
  	cursor: pointer; 
  	color: transparent; 	
  	background-color:white;
}

.botonexportxml{
	background-image:url(../images/buttons/exportxml.png);
	background-repeat:no-repeat;
	background-size: 50px 50px;
  	height:80px;
  	width:80px;
  	border:none;
  	background-position:center;  	
  	cursor: pointer; 
  	color: transparent; 	
  	background-color:white;
  	margin-bottom:-30px;
}

/* CLASE NO VISIBLE PARA IMPRIMIR */

.nover {
	display:none
}

/* FOOTER */
footer{
	padding: 20px;
	background-color: #babdb6;
	
	background-image: url('../images/logos/gencat_ensenyament.png');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: right;
}

footer a:hover{
	color: blue;
}
/*REGLAS PARA IMPRIMIR*/

@media print{
body {margin: 0mm;padding: 0mm;}	
header, footer, button, nav, a, .accio, #login, #logout, #filtro {display:none;}
body{box-shadow:none;}	
}